@import '_variables';

.navbar {
  background-color: $base-color;
  display: flex;

  .navbar-brand h1 {
    color: #fff;
  }

  .navbar-brand a {
    text-decoration: none;
  }

  .navbar-nav {
list-style-type: none;
    
  }

  .nav-item {
       a {
      text-decoration: none;
      color: #fff;
    }
  }
}
