@import "../variables.module.sass";

.navbar {
  background-color: $primary-color;
  height: 3.75rem;
  padding: 0 1.25rem; 
  display: flex;
  align-items: center;
  color: #ffffff;

  .navbar-brand {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1.25rem;
  }
}
